<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Story</h2>
                <hr class="light">
                <p class="text-faded">Hello friend! Thanks for stopping by our website. Keep reading for a bit of our backstory and inspiration for starting this cafe :)</p>
                <p class="text-faded">After hiking for a couple days on Cat Ba Island in the North of Vietnam, we stopped by a cafe for pancakes. We ordered the mango pancakes. By the look of the pictures in the menu, these little cakes of joy were going to be fluffy, soft, warm, and oh so tasty. We were practically drooling. After what seemed like a lifetime of waiting, our friendly server brought us what appeared to be a funnel cake dipped in oil an extra few times. Our "pancakes" looked nothing like the picture in the menu. Our hearts sank. After the first few crunchy, oily, unappetizing bites, I put my fork down, unable to continue. That disappointment is what spurred the creation of our tiny little cafe here in Danang. However, pancakes aren't our only forte.</p>
                <p class="text-faded">Our passion for eating healthy, delicious food at home shows in our menu, which includes homemade, small-batch kombucha, cashew milk, crispy granola bowls, and smoothies that are so nutritious, they can replace your entire meal. Our tiny little cafe is but a single table nestled in a shady garden by the front of our home. Stop by or message us about delivery anytime.</p>
                <a href="#showcase" class="btn btn-default btn-xl page-scroll">See Our Menu</a>
            </div>
        </div>
    </div>
</section>
