<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ site.data.translations.about.title[page.lang] }}</h2>
                <hr class="light">
                <p class="text-faded">{{ site.data.translations.about.description[page.lang] }}</p>
                <a href="#showcase" class="btn btn-default btn-xl page-scroll">{{ site.data.translations.about.button[page.lang] }}</a>
            </div>
        </div>
    </div>
</section>
