<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ site.data.translations.contact.title[page.lang] }}</h2>
                <hr class="primary">
                <p>{{ site.data.translations.contact.description[page.lang] }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a target="_blank" href="https://www.facebook.com/TwoFoxesCafe">
                    <i class="fab fa-facebook wow bounceIn" data-wow-delay=".1s"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/two.foxes.cafe/">
                    <i class="fab fa-instagram wow bounceIn" data-wow-delay=".2s"></i>
                </a>
                <a href="tel:865547132">
                    <i class="fa fa-phone wow bounceIn" data-wow-delay=".3s"></i>
                </a>
                <a href="mailto:twofoxes@twofoxescafe.com">
                    <i class="fa fa-envelope wow bounceIn" data-wow-delay=".4s"></i>
                </a>
                <a target="_blank" href="https://goo.gl/maps/SCmbAvNy2YUjJ1EN6">
                    <i class="fa fa-map-marker wow bounceIn" data-wow-delay=".5s"></i>
                </a>
            </div>
        </div>
    </div>
</section>