<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="../img/header-logo.png"></img>
            <hr>
            <p>We are a tiny, family-run delivery and dine-in cafe located in <a target="_blank" href="https://goo.gl/maps/SCmbAvNy2YUjJ1EN6">Danang, Vietnam</a>, serving vegan and vegetarian breakfast/brunch, and delivering healthy, homemade, small-batch foods.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
