<div id="restaurant-menu" class="bg-primary">
    <div class="container">
      <div class="section-title text-center">
        <a href="/{{page.lang}}"><img src="/img/header-logo.png"></img></a>
        <h2>{{site.data.menu.title[page.lang]}}</h2>
        <div class="languages">
          {% for lang in site.data.languages %}
          {% assign language = lang[1] %}
          <a href="/menu/{{lang[0]}}">{{language.icon}}</a>
          {% endfor %}
        </div>
        <hr class="light">
      </div>
      <div class="row">
        {% for s in site.data.menu.sections %}
        {% assign section = s[1] %}
        <div class="col-xs-12 col-sm-6">
            <div class="menu-section">
                <h2 class="menu-section-title">{{section.title[page.lang]}}</h2>
                <hr class="light">
                {% for i in section.items %}
                {% assign item = i[1] %}
                <div class="menu-item">
                    <div class="menu-item-name">{{item.title[page.lang]}}</div>
                    <div class="menu-item-price"> {{item.price}} </div>
                    <div class="menu-item-description"> {{item.description[page.lang]}} </div>
                </div>
                {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>