<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="page-scroll" href="#page-top"><img class="navbar-brand" src="/img/logo.png"></img></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">{{site.data.translations.about.navTitle[page.lang]}}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">{{site.data.translations.services.navTitle[page.lang]}}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#showcase">{{site.data.translations.menu.navTitle[page.lang]}}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">{{site.data.translations.contact.navTitle[page.lang]}}</a>
                </li>
                <li>
                    <div class="languages">
                        {% for lang in site.data.languages %}
                        {% assign language = lang[1] %}
                        <a href="{{site.baseurl}}{{lang[0]}}">{{language.icon}}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
