<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-chair wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Dine In</h3>
                    <p class="text-muted">Our tiny cafe, with only a single table, is located in our shady garden outside our home. Stop by sometime, but make sure to message us first 👋</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-truck wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Delivery</h3>
                    <p class="text-muted">Message us an order and we will make it fresh for you. Ask us about free delivery in Danang with certain orders :)</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-concierge-bell wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made To Order</h3>
                    <p class="text-muted">Fresh food is healthy food. So it's only natural that we make every order right when you ask for it!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make all your food with love these days!</p>
                </div>
            </div>
        </div>
    </div>
</section>
