html,
body {
    height: 100%;
    width: 100%;
}

body {
    @include futura-font;
}

hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all;
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include futura-font;
}

p {
    font-size: 16px;
    @include futura-font;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: $theme-primary;
}

.bg-dark {
    background-color: $theme-dark;
    color: white;
}

.text-faded {
    color: rgba(white, .7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Navigation

.navbar-default {
    background-color: white;
    border-color: rgba($theme-dark, .5);
    @include transition-all;
    .navbar-header .navbar-brand {
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
    }
    .nav {
        .languages {
            align-items: center;
            align-content: center;
            justify-content: center;
            margin: 10px;
            a {
                font-weight: 400;
                font-size: 24px;
            }
        }
        > li {
            > a,
            > a:focus {
                font-weight: 500;
                font-size: 18px;
                @include futura-font;
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: $theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
        border-color: rgba(white, .3);
        .navbar-header .navbar-brand {
            color: rgba(white, .7);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: rgba(white, .7);
            &:hover {
                color: white;
            }
        }
        &.affix {
            background-color: white;
            border-color: rgba($theme-dark, .5);
            .navbar-header .navbar-brand {
                color: $theme-primary;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken($theme-primary, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}

// Homepage Header

header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    @include background-cover;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(#D58E60, 0.5),rgba(#D58E60, 0.5)), url('../img/header.jpeg');
    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            a {
                color: white;
            }
            img {
                width: 400px;
                max-width: 80%;
                height: auto;
            }
            h1 {
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 0;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: rgba(white, .7);
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

.showcase-box {
    position: relative;
    width: 100%;
    min-height: auto;
    @include background-cover;
    background-position: center;
    text-align: center;
    color: white;
    transform-style: inherit;
    .showcase-box-content {
        position: relative;
        text-align: center;
        padding: 200px 15px 200px;
        width: 100%;
        .showcase-box-content-inner {
            h1 {
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 0;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: rgba(white, .7);
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100vh;
        .showcase-box-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .showcase-box-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, white);
}

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
}

.btn {
    border: none;
    border-radius: 300px;
    font-weight: 500;
    max-width: 100%;
    word-wrap: break-word;
}

.btn-xl {
    padding: 15px 30px;
}

// Menu

#restaurant-menu {
	padding: 100px 0 60px 0;
}
#restaurant-menu img {
	max-width: 300px;
    padding-bottom: 50px;
    width: 80%;
}
#restaurant-menu h2 {
	text-transform: uppercase;
}
#restaurant-menu .menu-section hr {
	margin: 0 auto;
}
#restaurant-menu .menu-section {
	margin: 0 20px 80px;
}
#restaurant-menu .menu-section-title {
	font-size: 32px;
	display: block;
	font-weight: 400;
	margin: 20px 0;
	text-align: center;
}
#restaurant-menu .menu-item {
	margin: 45px 0;
	font-size: 18px;
}
#restaurant-menu .menu-item-name {
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 10px;
}
#restaurant-menu .menu-item-description {
	font-size: 15px;
	width: 85%;
}
#restaurant-menu .menu-item-price {
	float: right;
	font-weight: 400;
	margin-top: -36px;
}

// Contact
#contact .fa, .fab {
    border-radius: 50%;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
  
    width: 60px;
    height: 60px;
    line-height: 60px !important;
    font-size: 2em;
}

.icons {
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  
  /* Set a specific color for each brand */
  
  /* Phone */
  .fa-phone {
    background: #85343D;
    color: white;
  }
  
  /* Facebook */
  .fa-facebook {
    background: #D58E60;
    color: white;
  }
  
  /* Instagram */
  .fa-instagram {
    background: #BEB694;
    color: white;
  }
  
  /* Maps */
  .fa-map-marker {
    background: #3C342B;
    color: white;
  }
  
  /* Email */
  .fa-envelope {
    background: #6DB2AA;
    color: white;
  }

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}
  